<p class="navbar-text pull-right">
<% if person_signed_in? %>
  Logged in as <strong><%= current_person.email %></strong>.
  <%= link_to 'Edit profile', edit_person_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_person_session_path, method: :delete, :class => 'navbar-link'  %> |
  <%= link_to "Create New User", new_person_registration_path, :class => 'navbar-link'  %>

<h2>DASHBOARD HERE DASHBOARD HERE</h2>

<% else %>

<h2>WELCOME TO TASK TRACKER</h2>

  <%= link_to "Login", new_person_session_path, :class => 'navbar-link'  %>
<% end %>