<p id="notice"><%= notice %></p>
<% if current_person.is_admin? %>
<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
<% else %>  
  Sorry, must be Admin <%= link_to 'Back', root_path %> 
<% end %>