	  <div style='margin-right:10px'>
        <%= button_to 'Add Task', new_task_path, :method => "get", :class => "btn btn-primary btn-xs"%>
		<br>
		- or -
		<br>
		<br>
		<div class="panel panel-default">
  		  <div class="panel-heading">Import Task</div>	
  		  <div class="panel-body">
		    <%= form_tag import_tasks_path, multipart: true do %>
            <%= file_field_tag :file%><br>
		  task type:			   
		  <%= collection_select("task_type_id", "task_type", @task_types, :id, :name, prompt: true ) %>		  
		<br><br>
		  owner:
		  <%= collection_select("people_id", "full_name", @people, :id, :full_name, prompt: true ) %>	  
		   <br><br>	  
      <%= submit_tag "Import", :class => "btn btn-primary btn-xs" %>
    <% end %>
  </div>