<%= render 'shared/header' %>
<table>
  <tr>
	<td>
	  <div style='height:200px; margin-left:45px; width:92%'>
		<%= form_tag tasks_path, :method => 'get', :id => "tasks_search" do %>
		  <p>	  
	        <%= text_field_tag :search, params[:search], :placeholder => "Search" %>
 		  </p>
 		<% end %>
	    <% if current_person.is_supervisor? or current_person.is_admin? %>
		  <h2>All Tasks</h2>
		  <div id="tasks"><%= render 'tasks' %></div>
	</td>
	<td>
      </div>
          <%= render 'import' %>
	</td> 	  
        <% end %>
        <% if current_person.is_agent? %>
		    <h2>All Tasks - <%= current_person.full_name %></h2>
		    <div id="tasks"><%= render 'agenttasks' %></div>
		<% end %>     
          </div> 	
  </tr>
</table>